/* ====== RESET BÁSICO ====== */
* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { margin: 0; }

/* ====== PALETA ======
   - marrom (base, ~80%)
   - amarelo (accent, ~20%)
   - tinta (off-white para textos)
*/
:root{
  --brown-900: #33241d;        /* base/backdrop */
  --accent-500: #D29B43;       /* amarelo */
  --ink: #F2E9DF;              /* texto principal */
  --ink-dim: #E6DACD;          /* texto secundário */
}

/* ====== FUNDO TEXTURIZADO ====== */
body{
  color: var(--ink);
  background-color: var(--brown-900);
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  background-repeat: repeat;
  background-size: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
